/* Apply to elements such as body and main
Examples include styling of overall font and background color */
body {
    margin: 0px auto;
      
    width: 480px;
    text-align: center;
}

.container {
    display: grid;      
    grid-template-columns: 240px 240px;
    grid-template-rows: 75px 150px 125px 125px 250px 250px 80px;    
}

#a {
    background-color: aqua;
    line-height: 75px;
    grid-column: span 2 / 3;
    grid-row: 1;
}


#b {
    background-color: red;
    line-height: 150px;
    grid-column: span 2 / 3;
    grid-row: 2;   
}

#c {
    background-color: green;
    line-height: 125px;
    grid-column: span 2 / 3;
    grid-row: 3;
}

#d {
    background-color: greenyellow;
    line-height: 125px;
    grid-column: span 2 / 3;
    grid-row: 4;
}

#e {
    background-color: brown;
    line-height: 250px;
    grid-column: 1;
    grid-row: 5;
}

#f {
    background-color: violet;
    line-height: 250px;
    grid-column: 2;
    grid-row: 5;
}

#g {
    background-color: turquoise;
    line-height: 250px;
    grid-column: 1;
    grid-row: 6;
}

#h {
    background-color: beige;
    line-height: 250px;
    grid-column: 2;
    grid-row: 6;



}

#i {
    background-color: yellow;
    line-height: 80px;
    grid-column: span 2 / 3;
    grid-row: 7;
}



@media screen and (min-width: 768px)  {

    body {
        width: 960px;
        margin: 0px auto;
        text-align: center;
    }

    .container {
        display: grid;      
        grid-template-columns: 200px 190px 190px 190px 190px;
        grid-template-rows: 100px 200px 250px 150px;    
    }

    #a {
        background-color: yellow;
        line-height: 100px;
        grid-column: span 5 / 6;
        grid-row: 1;
    }

    #b {
        background-color: beige;
        line-height: 600px;
        grid-row: span 3 / 5;
        grid-column: 1;
    }

    #c {
        background-color: turquoise;
        line-height: 200px;
        grid-column: span 2 / 4;
        grid-row: 2;
    }

    #d {
        background-color: violet;
        line-height: 200px;
        grid-column: span 2 / 6;
        grid-row: 2;
    }

    #e {
        background-color: brown;
        line-height: 250px;
        grid-column: 2;
        grid-row: 3;
    }

    #f {
        background-color: greenyellow;
        line-height: 250px;
        grid-column: 3;
        grid-row: 3;

    }

    #g {
        background-color: green;
        line-height: 250px;
        grid-column: 4;
        grid-row: 3;

    }

    #h {
        background-color: red;
        line-height: 250px;
        grid-column: 5;
        grid-row: 3;

    }

    #i {
        background-color: aqua;
        line-height: 150px;
        grid-column: span 4 / 6;
        grid-row-start: 4;
    }
}




